<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="scripts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="web/css/AdminLTE.css" />
    <link rel="stylesheet" href="web/css/_all-skins.css" />
    <link rel="stylesheet" href="web/css/custom.css" />

    <script src="scripts/vue/dist/vue.js"></script>
    <script src="scripts/vue-resource/dist/vue-resource.js"></script>
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="web/js/adminlte.js"></script>
    <script src="web/js/InitPages.js"></script>
    <script src="web/js/Authorization.js"></script>
</head>
<body>
    <div id="app" class="wrapper">
        <menu-component v-if="currentPage !== 'login'"></menu-component>
        <sidebar-component v-if="currentPage !== 'login'"></sidebar-component>
        <component v-bind:is="currentPage"></component>
    </div>
</body>

<!-- Vue Pages -->
<script src="web/pages/HomePage.js"></script>
<script src="web/pages/PersonalPage.js"></script>
<script src="web/pages/AllergiesPage.js"></script>
<script src="web/pages/HistoryPage.js"></script>
<script src="web/pages/FilesPage.js"></script>
<script src="web/pages/LoginPage.js"></script>
<script src="web/pages/PatientsPage.js"></script>

<!-- Vue Components -->
<script src="web/components/MenuComponent.js"></script>
<script src="web/components/SidebarComponent.js"></script>
<script src="web/components/FileListItemComponent.js"></script>
<script src="web/components/PatientListItemComponent.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            currentPage: "login"
        },
        mounted: function(){
        },
        components: {
            homepage: Pages.HomePage,
            personal: Pages.PersonalPage,
            allergies: Pages.AllergiesPage,
            history: Pages.HistoryPage,
            files: Pages.FilesPage,
            file: Pages.FilePage,
            login: Pages.LoginPage,
            patients: Pages.PatientsPage
        }
    });
</script>
</html>